<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>main_svg</title>
    <script data-main="../../../cjs/require/config" src="../../../3rd/require-2.3.3.js"></script>
     <script type="text/javascript" src="../../../cjs/other/c.js"></script>
    <script type="text/javascript" src="../../../cjs/other/app.js"></script>

    <script type="text/javascript" src="../../../cc4k/rtdb.js"></script>
    <script type="text/javascript" src="../../../cc4k/rtdb_sync.js"></script>

</head>
<body code="../../../cjs/template/datashow/svg_load.js" ics-code="../../../cjs/template/datashow/svg_show.js">
<div id="ShowSvg" style="width: 100%;height: 80%" >
</div>
</body>
</html>
