<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../../cimg/icon/iconfont.js"></script>
    <style>
        header{
            height: 95px;
            width: 100%;
            background-color: #069F7D;
        }
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
        .header-menu{
            color: white;
        }
    </style>
    <title></title>
</head>
<body>
    <header>
        <div id="title">

        </div>
        <div id="login-state">
            <div class="user-photo">

            </div>
            <div class="user-inf">
                <div class="user-name"></div>
                <div class="time"></div>
            </div>
        </div>
    </header>
</body>
</html>