<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../common/ccss/newLayout/init.css" />
    <link rel="stylesheet" type="text/css" href="../../../common/ccss/newLayout/main.css" />

    <script data-main="../../../common/cjs/require/config" src="../../../common/3rd/require-2.3.3.js"></script>
    <script type="text/javascript" src="../../../common/cimg/icon/iconfont.js"></script>
</head>
<body ics-code="../../cjs/template/main.js">
<div id="header">

</div>
<div id="content">

</div>
<div id="footer">

</div>
</body>
</html>