<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script data-main="../../../cjs/web/require/config" src="../../../3rd/require-2.3.3.js"></script>
    <script type="text/javascript" src="../../../cjs/web/other/c.js"></script>
</head>

<body  ics-code="../../../cjs/web/template/template-double/double-table.js">
<div class="uix-layout-container">
    <div class="uix-layout-center">
        <div class="uix_box" style="position: relative;">
            <div class="toolbar" id = "operation">
                <!--<span class="r" id="data_record_count_span">共0条记录</span>-->
            </div>
            <table id="tbList" class="table table-bordered noborder">
            </table>
            <div id="pager"></div>

        </div>
    </div>
    <div class="uix-layout-east fix-right2">
        <div class="uix_box">
            <div class="toolbar" id = "operationChild">
                <!--<span class="r" id="data_record_count_span1">共0条记录</span>-->
            <table id="tbList_c" class="table table-bordered noborder">
            </table>
            <div id="pager_c"></div>
            </div>
        </div>
    </div>
</div>

</body>

<link rel="stylesheet" type="text/css" href="../../../ccss/default.css"/>
<!--<link rel="stylesheet" type="text/css" href="../../../css/warning/warning.css"/>-->
</html>