<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script data-main="../../../cjs/require/config" src="../../../3rd/require-2.3.3.js"></script>
    <script type="text/javascript" src="../../../cjs/other/c.js"></script>
    <!--<script type="text/javascript" src="../../../cjs/other/app.js"></script>-->
</head>

<body  ics-code="../../../cjs/template/template-single/single-table.js">
<div class="uix-layout-container" >
    <div class="uix-layout-center" id="center" >
        <!--<div class="uix_box" style="position: relative;">-->
        <div class="toolbar" id = "operation">
            <!--<span class="l" id="saveBtn"><i class="icon-th icon-pic saveBtn"></i>保存</span>-->
            <!--<span class="l" id="addBtn"><i class="icon-th icon-pic addBtn"></i>新建</span>-->
            <!--<span class="l" id="delete"><i class="icon-th icon-pic delete"></i>删除</span>-->
            <!--<span class="l" id="quite_btn"><i class="icon-th icon-pic quite"></i>退出</span>-->
            <span class="r" id="data_record_count_span">共0条记录</span>
        </div>
        <table id="tbList" class="table table-bordered noborder table-striped">

        </table>
        <div id="pager"></div>
        <!--</div>-->
    </div>
</div>
<!--<script type="text/javascript" src="../../lib/plus/jqgrid/build/pdfmake.min.js"></script>-->
<!--<script type="text/javascript" src="../../lib/plus/jqgrid/build/vfs_fonts.js"></script>-->

</body>
</html>